<%= form_with(model: user, class: "contents", url: update_path) do |form| %>
  <div class="shadow overflow-hidden sm:rounded-md">
    <div class="px-4 py-5 bg-white sm:p-6">
      <% if user.errors.any? %>
        <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
          <h2><%= pluralize(user.errors.count, "error") %> prohibited this post from being saved:</h2>

          <ul>
            <% user.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <% (User::SETTINGS - [:agreement_date]).each do |setting| %>
        <div class="my-5">
          <%= form.label class: 'block text-sm font-medium text-gray-700' do %>
            <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-gray-700">
              <%= User.human_attribute_name(setting) %>
            </span>
          <% end %>
          <%= form.text_field setting, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
        </div>
      <% end %>

      <div class="my-5">
        <label class="block text-sm font-medium text-gray-700" for="user_agreement_date">
          <span class="after:content-['*'] after:ml-0.5 after:text-red-500 block text-sm font-medium text-gray-700">
            Agreement date
          </span>
        </label>
        <div class="relative">
          <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
            <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd"></path></svg>
          </div>
          <input datepicker datepicker-format="dd.mm.yyyy" type="text" class="mt-1 bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date" name="user[agreement_date]" id="user_agreement_date" value="<%= form.object.agreement_date %>">
        </div>
      </div>

      <p class="text-3xl mt-10">Categories</p>
      <hr />

      <% User::DEFAULT_CATEGORIES.each do |category| %>
        <div class="my-5">
          <%= form.label category, class: 'block text-sm font-medium text-gray-700' %>
          <%= form.text_field category, class: "mt-1 focus:ring-indigo-500 focus:border-indigo-500 block w-full shadow-sm sm:text-sm border-gray-300 rounded-md" %>
        </div>
      <% end %>

      <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
        <%= form.submit class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 cursor-pointer" %>
      </div>
    </div>
  </div>
<% end %>
